<template>
  <div class="common-wrapper">
    <!-- S 头图 -->
    <mps-banner class="banner-content" :config="mpsBanner"></mps-banner>
    <!-- E 头图 -->
    <mps-draw class="draw-content" :config="mpsDraw" :options="mpsDrawOptions"></mps-draw>
    <mps-advert class="advert-content" :config="mpsAdvert" :options="mpsAdvertOptions"></mps-advert>
    <mps-notice :noticeActCode="noticeActCode" class="notice-content" :config="mpsNotice" v-if="mpsNotice.needNotice && noticeActCode"></mps-notice>
    <mps-footer class="footer-content" :config="mpsFooter" v-if="mpsFooter.src"></mps-footer>
    <!-- S 活动规则弹窗 -->
    <mps-rule-pop class="rulePop-content" :config="mpsBanner"> <i></i>活动规则<i></i> </mps-rule-pop>
    <!-- E 活动规则弹窗 -->
    <!-- S 弹窗 -->
    <mps-tips class="tips-content" :options="mpsTipsOptions"></mps-tips>
    <!-- E 弹窗 -->
    <!-- S 蒙层 -->
    <mps-cover></mps-cover>
    <!-- E 蒙层 -->
  </div>
</template>
<script>
  import {
    mapState
  } from 'vuex'
  import componentData from '../data/index.json'
  import privateData from '../data/index.js'
  import baseConfig from '../data/base-config.json'
  componentData.baseConfig = baseConfig
  import componentOptions from '../data/options.js'
  import mpsNotice from 'common/mps-notice'
  import {
    deepObjectMerge
  } from '../data/util'
  export default {
    components: {
      mpsNotice
    },
    data() {
      const mpsComponents = deepObjectMerge(
        privateData,
        window.INIT_DATA ? window.INIT_DATA : componentData
      )
      const obj = {
        mpsComponents
      }
      for (let key in mpsComponents) {
        let item = mpsComponents[key]
        let name = key.replace(/\-(\w)/g, (item, $1) => $1.toUpperCase())
        obj[name] = key == 'baseConfig' ? item : item.data
      }
      //处理options
      for (let key in componentOptions) {
        let item = componentOptions[key]
        let name =
          key.replace(/\-(\w)/g, (item, $1) => $1.toUpperCase()) + 'Options'
        obj[name] = item
      }
      return obj
    },
    async mounted() {
      // 让HandleLink能处理dispatch
      HandleLink = HandleLink.bind(this)
      // 设置components
      this.$store.commit('setComponents', this.mpsComponents)
      // 初始化埋点
      MD.init({
        actCode: this.actCode,
        pageCode: this.common.pageCode
      })
      // 校验活动状态
      this.$store.dispatch('checkStatus')
      this.$store.dispatch('getUserInfo')
      // 设置分享
      this.initShareConfig()
    },
    methods: {
      initShareConfig() {
        const shareConfig = { ...this.mpsShare }
        // 初始时还没创建邀请码，默认分享当前页面，而不是配置的不带邀请码的m2页面
        if (this.common.needMgm) {
          shareConfig.link = location.href
        } else {
          shareConfig.link = shareConfig.link ?
            shareConfig.link.trim() :
          location.href
        }
        shareConfig.activityCode = this.actCode
        Share.init(shareConfig)
      }
    },
    computed: {
      ...mapState(['actCode', 'noticeActCode'])
    }
  }
</script>
