@charset "utf-8";
/*-----------------------------------------------
	version: 5.0
	  email: guochong@mucfc.com
	   date: 2019-08-12 10:41
-----------------------------------------------*/
/*************** RESET ***************/
html, body {line-height:1.5; -webkit-font-smoothing:antialiased; vertical-align:baseline;}
html,body, button, input {font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;}
i,em {font-style:normal;} b{font-weight:600;}
img {display:block; width:100%; vertical-align:top;} 
a{-webkit-touch-callout:none;} a,a:hover, a:active{text-decoration:none;}
button, input, select, textarea {display:block; margin:0; padding:0; outline:none; background-color:transparent; border:0; border-radius:none; -webkit-font-smoothing:antialiased; -webkit-appearance:none; appearance:none;}
::-webkit-selection {background:none}
::selection {background:none}
*:not(input,textarea) {-webkit-touch-callout:none; -webkit-user-select:none; user-select:none;}
/**************/

body {padding:constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left); -webkit-tap-highlight-color:rgba(0,0,0,0)}
button {text-align:center;}
input::-moz-placeholder {color:#b3b3b3;}
input::-webkit-input-placeholder {color:#b3b3b3;}
input:-ms-input-placeholder {color:#b3b3b3;}

.clearfix {zoom:1;}
.clearfix:after {content:""; display:block; clear:both; height:0; font-size:0; visibility:hidden;}


/*************** 模块 ***************/
.common-wrapper, .common-module, .common-suction {position:relative; margin:0 auto; width:10rem; margin-top:-1px;}
/*模块内容宽度*/
.common-content {margin:0 auto; width:9.4rem;}