@charset "utf-8";
/*-----------------------------------------------
	version: 5.0
	  email: guochong@mucfc.com
	   date: 2019-08-12 10:41
-----------------------------------------------*/
/*************** 11 加载 mps-loading ***************/
.loading {position:fixed; left:50%; top:50%; margin:-1.3rem 0 0 -1.3rem; width:2.6rem; height:2.6rem;  background-size:100%; z-index:101;}


/*************** 11 顶部下载提示 mps-download ***************/
.common-topbar {position:relative; margin:0 auto; padding:0.26rem 2.3rem 0.26rem 0.3rem; width:7.4rem; height:1.08rem; color:#fff; background-color:#333; overflow:hidden;}
.common-topbar .download-logo, .common-topbar .download-word {float:left; height:1.08rem;}
.common-topbar .download-logo {margin-right:0.3rem; width:1.08rem;}
.common-topbar .download-word {width:5.7rem;}
.common-topbar .download-word p {height:0.54rem; line-height:0.54rem;}
.common-topbar .download-word-up {font-size:14px;}
.common-topbar .download-word-down {font-size:12px; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; word-break:break-all; text-overflow:ellipsis; -webkit-line-clamp:1;}
.common-topbar .download-btn {position:absolute; top:0.42rem; right:0.3rem; width:2rem;}
@media screen and (max-width: 320px) {
.common-topbar .download-word-up {font-size:12px;}
.common-topbar .download-word-down {font-size:11px;}
}


/*************** ll 顶部公告 mps-push ***************/
.top-notice {background-color:#e1ebff;}
.top-notice .common-content {position:relative; padding:0 0.6rem; width:8.2rem; height:0.84rem; font-size:12px; line-height:0.84rem;}
.top-notice .common-content p {display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; word-break:break-all; text-overflow:ellipsis; -webkit-line-clamp:1;}
.top-notice .icon-close,.top-notice .icon-more {position:absolute; top:50%; margin-top:-0.28rem; width:0.56rem; height:0.56rem;}
.top-notice .icon-close {left: -0.1rem;}
.top-notice .icon-more {right:-0.16rem;}


/*************** 11 头部 mps-banner ***************/
.common-header {position:relative; margin:0 auto; width:10rem;}
.common-header a {position:absolute; top:0; right:0; width:1.6rem; height:1.4rem; z-index:9;}


/*************** 11 浮标 mps-float ***************/
.common-side-float {position:fixed; right:50%; top:3.6rem; margin-right:-5rem; width:1.4rem; z-index:9;}


/*************** 11 mps-marquee ***************/
.marquee-tips {margin:0 auto; width:100%; text-align:left; overflow:hidden; white-space:nowrap; box-sizing:border-box;}


/*************** 标题 mps-title ***************/
.common-headline {position:relative; margin-bottom:0.2rem; text-align:center;}
.common-headline-title {font-size:18px;}
.common-headline-desc { font-size:14px;}
@media screen and (max-width: 320px) {
.common-headline-title {font-size:16px;}
.common-headline-desc { font-size:12px;}
}


/*************** 11 广告 mps-advert ***************/
.common-col-1,.common-col-2,.common-col-3,.common-col-4 {position:relative;}
.common-col-1:after,.common-col-2:after,.common-col-3:after,.common-col-4:after {content:""; display:block; clear:both; height:0; font-size:0; visibility:hidden;}
.common-col-1 a, .common-col-2 a, .common-col-3 a, .common-col-4 a {position:relative; float:left;}
.common-col-1 a {width:100%;}
.common-col-2 a {width:50%;}
.common-col-3 a {width:33.3333%;}
.common-col-4 a {width:25%;}
/*宽屏*/
.common-gapless {width:10rem; margin-left:-0.3rem;}
.common-col-1.common-gapless a {width:100%;}
.common-col-2.common-gapless a {width:50%;}
.common-col-3.common-gapless a {width:33.3333%;}
.common-col-4.common-gapless a {width:25%;}
/*窄屏多列有间距 & 宽屏多列有间距*/
.common-col-2.common-col-gap a, .common-col-2.common-gapless.common-col-gap a {width:49%;}
.common-col-3.common-col-gap a, .common-col-3.common-gapless.common-col-gap a {width:32.3333%;}
.common-col-4.common-col-gap a, .common-col-4.common-gapless.common-col-gap a {width:24.25%;}
/*有间距*/
.common-col-2.common-col-gap a:nth-child(2n) {margin-left:2%;}
.common-col-3.common-col-gap a:nth-child(n+2) {margin-left:1.5%;}

.common-col-1.common-col-gap a:nth-child(n+2), 
.common-col-2.common-col-gap a:nth-child(2n+1), 
.common-col-3.common-col-gap a:nth-child(3n+1), 
.common-col-4.common-col-gap a:nth-child(4n+1) {margin-left:0;}

.common-col-1.common-col-gap a:nth-child(n+2), .common-col-2.common-col-gap a:nth-child(n+3), .common-col-3.common-col-gap a:nth-child(n+4) {margin-top:2%;}
.common-col-4.common-col-gap a:nth-child(n+2) {margin-left:1%;}
.common-col-4.common-col-gap a:nth-child(n+5) {margin-top:1%;}


/*************** 11 抽奖 mps-draw ***************/
.common-luckdraw-part, .common-turntable {position:relative; overflow:hidden;}
.common-luckdraw-part p {position:absolute; top:0; left:0; width:100%; font-size:14px; text-align:center; height:0.9rem; line-height:0.9rem; color:#fff;}
/***** 转盘抽奖 *****/
.common-turntable {margin:0 auto; height:9.52rem; background-repeat: no-repeat; background-size:100%;}
.common-turntable .turntable-award, .common-turntable .turntable-pointer {position:absolute; top:50%; left:50%;}
.common-turntable .turntable-award {margin:-4rem 0 0 -4rem; width:8rem; height:8rem; background-repeat: no-repeat; background-size:100%;}
.common-turntable .turntable-pointer {margin:-1.8rem 0 0 -1.8rem; width:3.6rem; height:3.6rem; z-index:2; background-repeat: no-repeat; background-size:100%;}
.common-turntable .flicker {width:10rem; height:9.52rem;}
/***** 九宫格 *****/
.common-ninebox {margin:0 auto; padding-top:0.26rem; height:9.46rem; background-repeat: no-repeat; background-size:100%;}
.common-ninebox ul {margin:0 auto; width:8.8rem; height:8.8rem; font-size:0;}
.common-ninebox li,.common-ninebox-btn {width:2.8rem; height:2.8rem;}
.common-ninebox li {float:left; margin:0.06rem 0.06rem; overflow:hidden; background-repeat: no-repeat; background-size:5.76rem 25.92rem;}
.common-ninebox .s1 {background-position:0 0;}
.common-ninebox .s2 {background-position:0 -2.88rem;}
.common-ninebox .s3 {background-position:0 -5.76rem;}
.common-ninebox .s4 {background-position:0 -8.64rem;}
.common-ninebox .s5 {background-position:0 -11.52rem;}
.common-ninebox .s6 {background-position:0 -14.4rem;}
.common-ninebox .s7 {background-position:0 -17.28rem;}
.common-ninebox .s8 {background-position:0 -20.16rem;}
.common-ninebox .ss {background-position:0 -23.04rem;}
.common-ninebox .s1.cur {background-position:-2.88rem 0;}
.common-ninebox .s2.cur {background-position:-2.88rem -2.88rem;}
.common-ninebox .s3.cur {background-position:-2.88rem -5.76rem;}
.common-ninebox .s4.cur {background-position:-2.88rem -8.64rem;}
.common-ninebox .s5.cur {background-position:-2.88rem -11.52rem;}
.common-ninebox .s6.cur {background-position:-2.88rem -14.4rem;}
.common-ninebox .s7.cur {background-position:-2.88rem -17.28rem;}
.common-ninebox .s8.cur {background-position:-2.88rem -20.16rem;}
.common-ninebox-btn {font-size:0; text-indent:-999rem;}
@media screen and (max-width: 320px) {
.common-luckdraw-part {font-size:12px;}
}

.flicker {width:10rem; height:9.52rem; background: url(../images/flicker.png) no-repeat; background-size:10rem 19.04rem; -webkit-animation:flicker 1.5s steps(1, start) infinite;animation: flicker 1.5s steps(1, start) infinite;}
@-webkit-keyframes flicker {
  0% {background-position:0 0;}
  25% {background-position:0 -9.52rem;}
  50% {background-position:0 0;}
  75% {background-position:0 -9.52rem;}
  100% {background-position: 0 0;}
}
@keyframes flicker {
  0% {background-position:0 0;}
  25% {background-position:0 -9.52rem;}
  50% {background-position:0 0;}
  75% {background-position:0 -9.52rem;}
  100% {background-position: 0 0;}
}


/*************** ll 输入手机号码 mps-mobile ***************/
.common-input-tel .input-item {position:relative;}
.common-input-tel .input-item:nth-child(n+2) {margin-top:0.3rem;}
.common-input-tel .inputbox {padding:0.25rem 0.2rem; background-color:#eee;}
.common-input-tel .inputbox.code {padding-right:3.6rem;}
.common-input-tel .input {width:100%; height:0.5rem; line-height:0.5rem; font-size:14px; color:#666;}
.common-input-tel .send {position:absolute; top:0; right:0; width:3.2rem; height:1rem; line-height:1rem; font-size:14px; color:#fff; background-color:#ff7200;}
.common-input-tel .send:disabled {color:#fff; background-color:#bbb;}
/*输入弹窗*/
.common-popinput .common-pop-cont {padding:0.6rem 0.5rem;}
@media screen and (max-width: 320px) {
.common-input-tel .input, .common-input-tel .send {font-size:12px;}
}


/*************** ll 中奖滚动列表 mps-notice ***************/
.common-roll .swiper-slide {height:0.8rem; line-height:0.8rem; font-size:14px; color:#333;}
@media screen and (max-width: 320px) {
.common-roll .swiper-slide {font-size:12px;}
}


/*************** 活动规则 mps-rule ***************/
.common-rules p {position:relative; margin-bottom:0.2rem; line-height:0.56rem; font-size:14px; color:#333;}
.common-rules em {color:#7c1ef4;}
@media screen and (max-width: 320px) {
.common-rules p {font-size:12px;}
}


/*************** ll 新闻 mps-news ***************/
.common-news a {display:block; height:2rem;}
.common-news a:nth-child(n+2) {margin-top:0.3rem;}
.common-news-pic, .common-news-detail {position:relative;}
.common-news-pic {float:left; width:21%; min-height:2rem;}
.common-news-detail {float:right; width:75.4%; overflow:hidden;}
.common-news-title,.common-news-subtext {display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; word-break:break-all; text-overflow:ellipsis;}
.common-news-title {height:0.6rem; color:#333; line-height:0.6rem; font-size:15px; -webkit-line-clamp:1;}
.common-news-subtext {margin-top:0.1rem; font-size:12px; color:#999; line-height:0.5rem; -webkit-line-clamp:2;}
@media screen and (max-width: 320px) {
.common-news-title {font-size:13px;}
}


/*************** 11 吸底按钮 mps-fixed-footer ***************/
.common-suction {font-size:14px; text-align:center;}
.footer-fixednav {position:fixed; bottom:0; left:50%; margin-left:-5rem; padding:0.3rem 0.3rem; width:9.4rem; background-color:#fff; z-index:9;}
.footer-fixednav a {height:1rem; line-height:1rem; font-size:17px; color:#fff; background-color:#ce8d41;}
.footer-fixednav-1 a {display:block; width:100%;}
.footer-fixednav-2 a {float:left; width:49%;}
.footer-fixednav-2 a:nth-child(2) {margin-left:2%;}
.footer-fixednav p {padding-top:0.2rem; height:0.5rem; line-height:0.5rem;}
.footer-fixednav p em {color:#ff6600;}
@media screen and (max-width: 320px) {
.common-suction {font-size:12px;}
.footer-fixednav a {font-size:15px;}
}


/*************** 11 底部 mps-footer ***************/
.common-footer {position:relative; margin:-1px auto 0; width:10rem;}


/*************** 11 mps-carousel ***************/
.common-swiper {overflow:hidden;}
.swiper {height:100%; overflow: hidden;}
.swiper .swiper-item {height:100%; background-position:50%; background-size:cover; position:relative; overflow:hidden; float:left;}
.swiper .swiper-item.animation {transition: all 0.3s ease-in;}
.swiper a, .swiper img {width:100%;}
.swiper-pagination {width:100%; height:20px; left:0; margin-top:-20px; line-height:16px; position:absolute; text-align:center; -webkit-transition:.3s;transition: .3s;-webkit-transform: translateZ(0);transform: translateZ(0);z-index: 10;}
.swiper-pagination .circle {display: inline-block;width: 7px;height: 7px;border-radius: 50%;margin-right: 4px;background-color: #fff;opacity:0.4;font-size: 0;}
.swiper-pagination .circle.curIndex {background-color: #fff;opacity:1;}


/*************** 11 浮层背景 mps-cover ***************/
.common-cover {position:fixed; top:0; left:0; z-index:99; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.8);}


/*************** 11 浮层 mps-dialog ***************/
.common-pop {position:fixed; top:40%; left:50%; width:8.8rem; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); z-index:100;}
.common-pop-close{position:absolute; bottom:-1.1rem; left:50%; margin-left:-0.44rem; width:0.88rem; height:0.88rem; background:url(../images/common_popclose.png) no-repeat; background-size:100%;}
.common-pop-title{height:1.1rem; line-height:1.1rem; font-size:17px; text-align:center; color:#fff; background-color:#3782ff;}
.common-pop-wrap {background-color:#fff; border-radius:0.15rem; overflow:hidden;}
.common-pop-cont {font-size:14px;}

.common-poptips .common-pop-cont {padding:0.4rem;}
/*有图特殊弹窗*/
.common-poptips.xx .common-pop-cont {padding-top:1.4rem;}
@media screen and (max-width: 320px) {
.common-pop-title {font-size:15px;}
.common-pop-cont {font-size:12px;}
}
/* 按钮 */
.common-btnbar {margin-top:0.3rem; text-align:center;}
.common-button {margin:0 auto; width:100%; height:1rem; line-height:1rem; font-size:16px;}
/*一行两个按钮*/
.common-btns-2 .common-button {display:inline-table; width:48.5%;}
.common-btns-2 .common-button:nth-child(2) {margin-left:3%;}
@media screen and (max-width: 320px) {
.common-button {font-size:14px;}
}




/*************** ll 弹窗 mps-tips ***************/
/*弹窗提示文案*/
.suc-prosit,.suc-tips {line-height:0.6rem; text-align:center;}
.suc-prosit {font-size:16px;}
/***** 图案提示 *****/
.common-showbox {margin:0 auto 0.3rem; width:5rem;}
.common-state-success,.common-state-fail,.common-state-other {width:2.08rem; height:2.08rem; background:url(../images/common_prompt.png) no-repeat; background-size:2.08rem 6.24rem;}
.common-state-success {background-position:0 0;}
.common-state-fail {background-position:0 -2.08rem;}
.common-state-other{background-position:0 -4.16rem;}
/*有图特殊弹窗*/
.common-poptips.xx .suc-prosit {position:absolute; top:0.5rem; left:0; margin-bottom:0; width:100%;}
@media screen and (max-width: 320px) {
.suc-prosit {font-size:14px;}
}


/*************** ll 活动规则弹窗 mps-rule-pop ***************/
.common-poprule .common-pop-cont {padding:0.4rem;}
.common-poprule .common-rules {max-height:6rem; overflow:hidden; overflow-y:scroll; -webkit-overflow-scrolling:touch;}
.common-rules p {position:relative;}





/*************** 海报弹窗 ***************/
.common-popposter .common-pop-wrap {background:none; text-align:center;}
.common-popposter p {padding:0.2rem 0 0; line-height:0.5rem; color:#fff;}