html {background:#c91716;}
.draw-content .common-ninebox {padding-top:0.36rem ; height:8.26rem ;}
.draw-content .common-ninebox ul {width:8.58rem ;}
.draw-content .common-ninebox li, .common-ninebox-btn {height:2.52rem ;}
.draw-content .common-ninebox li {margin: 0.03rem 0.03rem;}

.mps-advert .common-content {width:10rem;}
.mps-notice {margin:0.6rem auto 0.4rem; padding:0.3rem 0 0.4rem; width:9.2rem; background-color:#a30000;}
.mps-notice .common-headline-title {color:#ffb256;}
.mps-notice .common-headline-title:before, .mps-notice .common-headline-title:after {display:inline-block; vertical-align:middle; margin:0 0.2rem; content:""; width:2.2rem; height:1px; background-color:#ffb256;}
.notice-content .common-headline-desc {display:none ;}
.notice-content .common-content {width:8.2rem ;}

.notice-content .common-roll .swiper-slide {color:#fff ; font-size:12px; overflow:hidden;}
.mps-notice .common-content p {float:left; width:33.3333%; text-align:center;}
.mps-notice .common-content p em {color:#ffb256;}

/*pop*/
.common-pop-cont {font-size:14px;}
.common-poptips .common-button {color:#c31114; background:-webkit-linear-gradient(top,#ffcd78,#ffa33c); border-radius:0.15rem;}
.common-poptips .common-btns-1 .common-button {width:80%;}
.mps-dialog .common-pop-title {background-color:#c91816 ;}
.common-rules li, .common-rules p {line-height:0.52rem; margin-bottom:0.2rem;}

.suc-prosit {color:#333;}
.suc-tips {color:#666; margin-top:0.1rem;}

/***** MEDIA *****/
@media screen and (max-width:320px) {
/*IPhoe 5 以下*/
.mps-notice .common-roll .swiper-slide {font-size:11px;}
.common-pop-cont {font-size:12px;}
}

.notice-content .mps-notice{margin-top: 0;}