<template>
  <div class="common-module mps-notice" :style="{height: swiperHeight + 'px'}">
    <mps-title v-if="config && config.title" :config="config && config.title"></mps-title>
    <div v-if="swiperList && swiperList.length>0">
      <div class="common-roll common-roll-line" v-if="config.animation">
        <swiper :options="swiperOption" ref="mySwiper" :style="{height: swiperHeight + 'px'}">
          <!-- slides -->
          <swiper-slide v-for="(item, index) in swiperList" :key="index" data-swiper-autoplay="600">
            <li>{{item | formatData(config.formatStr)}}</li>
          </swiper-slide>
        </swiper>
      </div>
      <div class="common-roll common-roll-multi" v-else>
        <ul ref="mySwiper" :style="{height: swiperHeight + 'px'}">
          <li
            v-for="(item, index) in swiperList"
            :key="index"
          >{{item | formatData(config.formatStr)}}</li>
        </ul>
      </div>
      <img :src="config.bgSrc" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import 'swiper/dist/css/swiper.css'

import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  name: 'mps-notice',
  props: ['config'],
  data() {
    return {
      noticeList: [],
      swiperOption: {
        simulateTouch: false,
        slidesPerGroup: this.config.moveItem ? this.config.moveItem : 1,
        slidesPerView: this.config.item ? this.config.item : 1,
        autoplay: {
          disableOnInteraction: false,
        },
        direction: 'vertical',
        loop: true
      },
      swiperHeight: 0,
      swiperList: []
    }
  },
  components: {
    swiper,
    swiperSlide
  },
  watch: {
    noticeActCode() {
      this.queryNotice()
    }
  },
  computed: {
    ...mapState(['noticeActCode'])
  },
  filters: {
    formatData(value, formatStr) {
      return formatStr.replace(/{{(.*?)}}/g, (str, $1) => {
        return value[$1]
      })
    }
  },
  methods: {
    init() {
      // 初始化滚动
      this.$nextTick(() => {
        if (this.config.animation) {
          this.swiperHeight =
            parseInt(this.config.item) *
            this.$refs.mySwiper.$children[0].$el.offsetHeight
        } else {
          this.swiperHeight =
            parseInt(this.config.item) *
            this.$refs.mySwiper.childNodes[0].offsetHeight
        }
      })
  },
  queryNotice() {
    Api('common/queryNotice', {
      activityPreCode: this.noticeActCode,
      queryType: 1,
      size:
        this.config && this.config.queryNum
          ? parseInt(this.config.queryNum)
          : 10
    }).then(res => {
      if (res.data && res.data.actOfferings) {
        this.swiperList = res.data.actOfferings;
        // if (this.config.animation) {
        //   // 分组
        //   let tmpList = []
        //   while (this.noticeList.length > parseInt(this.config.item)) {
        //     tmpList.push(this.noticeList.splice(0, parseInt(this.config.item)))
        //   }
        //   tmpList.push(this.noticeList)
        //   this.swiperList = tmpList
        // } else {
        //   this.swiperList = this.noticeList
        // }
        this.init()
      }
    })
   }
  }
}
</script>

<style>
/***** 中奖滚动列表 *****/
.common-roll .swiper-slide {
  height:0.8rem; 
  line-height:0.8rem; 
  font-size:14px; 
  color:#333;
}
@media screen and (max-width: 320px) {
.common-roll .swiper-slide {
  font-size:12px;
}
}
.common-roll-line, .common-roll-multi{position: absolute; top: 0.35rem; left: 0; width: 100%; overflow: auto}
.common-roll li { margin:0 auto; width:7.8rem; height:0.58rem; line-height:0.58rem; color:#fff; text-align:center; overflow:hidden;}
.common-roll-multi ul{height:3rem;}

.common-roll-line ul {position:absolute; top:0.35rem; left:50%; margin-left:-5rem; width:10rem; height:0.58rem; overflow:hidden;}
</style>
  